@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_NewUserLayout.cshtml";
}


@if (Model.Count() == 0)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>You have no previous reservation</h4>
}
else
{
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <br>
                <h5 class="card-title">My Waiting Reservation Table</h5>
                <br>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
              @*  <div class="card-body">
                    <p class="card-text">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                </div>*@
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>DESTINATION</th>
                                <th>COUNT OF PERSON</th>
                                <th>RESERVATION DATE</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="border-1">

                                    <td>@item.ReservationId </td>
                                    <td> @item.Destination.City</td>
                                    <td>@item.PersonCount</td>
                                    <td>@item.ReservationDate.ToShortDateString()</td>
                                    <th>@item.Status</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}










@*@if (Model.Count() == 0)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>You have no waiting reservation</h4>
}
else
{

    <table id="tblApproval" class="table table-bordered">
        <thead>
            <tr class="border-4">
                <th>#</th>
                <th>DESTINATION</th>
                <th>COUNT OF PERSON</th>
                <th>RESERVATION DATE</th>
                <th>STATUS</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="border-1">

                    <td>@item.ReservationId </td>
                    <td> @item.Destination.City</td>
                    <td>@item.PersonCount</td>
                    <td>@item.ReservationDate.ToShortDateString()</td>
                    <td>@item.Status</td>


                </tr>
            }
        </tbody>
    </table>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/DataTables/datatables.js"></script>
<script src="~/DataTables/DataTables-1.13.4/js/dataTables.bootstrap5.js"></script>


<script>
    $(document).ready(function() {
        $('#tblApproval').DataTable(
        );
    });
</script>
<link href="~/DataTables/DataTables-1.13.4/css/dataTables.bootstrap5.css" />*@