@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "AdminAccepted";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/DataTables/DataTables-1.13.4/css/dataTables.bootstrap5.css" />

@*@if (Model.Count() == 0)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h4>We currently do not have an active tour.</h4>
}
else
{*@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <br>
                    <h5  class="card-title">ACCEPTED RESERVATIONS</h5>
                    <br>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    @*  <div class="card-body">
                <p class="card-text">Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
                </div>*@
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>USER ID</th>
                                    <th>DESTINATION ID</th>
                                    <th>PERSON COUNT</th>
                                    <th>DATE</th>
                                    <th>DESCRIPTION</th>
                                    <th>STATUS</th>
                                    <th>MAKE OLD</th>
                                    <th>REDDET</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="border-1">

                                        <td>@item.ReservationId </td>
                                        <td> @item.AppUserId</td>
                                        <td>@item.DestinationId</td>
                                        <td>@item.PersonCount</td>
                                        <td>@item.ReservationDate</td>
                                        <td>@item.Description</td>
                                        <td>@item.Status</td>
                                        <td><a href="/Admin/Reservation/ChangeOldStatus/@item.ReservationId" class="btn btn-outline-info"> MAKE OLD </a></td>
                                        <td><a href="/Admin/Reservation/DeleteReservation/@item.ReservationId" class="btn btn-danger"> DELETE </a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*}*@


