@model EntityLayer.Concrete.Destination


@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="zxx">



<body>

    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Tour Details</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Home</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> @Model.City Destination Detail </li>
                </ul>
                <br />
                 <div>
                       <a style="width:400px; height:50px" href="/User/Reservation/NewReservation/" class="btn btn-success">Reservation</a>
                    </div>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--/blog-->
    <div class="py-5 w3l-homeblock1 text-center">
        <div class="container mt-md-3">
            <h3 style="color:#FF1654" class="blog-desc-big text-center mb-4">
                @Model.Description
            </h3>
        </div>


    </div>
    <section class="blog-post-main w3l-homeblock1">
        <!--/blog-post-->
        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-image">
                    <div class="post-content ">
                        <img src="@Model.CoverImage" class="post-content img-fluid mb-5 image-containerCoverImage" alt="" />
                    </div>
                </div>
                <div class="single-post-content">
                    <p class="alphabet mb-4">
                        <span class="big-letter" style="color:darkcyan">@Model.City</span>

                    </p>
                    <br />
                    <h3 class="blog-desc-big m-0 mb-4" style="color:darkcyan">Let's get to know a little closer</h3>
                    <p class="mb-4">
                        @Model.Details1
                    </p>
                    @*~/Traversal-Content/Traversal-Liberty/assets/images/g8.jpg*@
                    <div class="sing-post-thumb mb-5 row pt-3">
                        <div class="col-sm-6">
                            <a href="#url"><img src="@Model.Image2"  style="height:520.8px;width:410px" class="img-fluid  radius-image" alt=""></a>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-3">
                            <a href="#url"><img src="@Model.Image" style="height:520.8px" class="img-fluid radius-image" alt=""></a>
                        </div>
                    </div>
                    <h3 class="blog-desc-big m-0 mb-lg-4 mb-3">Tourism</h3>
                    <p class="mb-4">
                        @Model.Details2
                    </p>

                    <div class="d-grid left-right mt-5 pb-md-5">
                        <div class="buttons-singles tags">
                            <h4>Tags :</h4>
                            <a href="#blog-tag">Travel</a>
                            <a href="#blog-tag">Culture</a>
                            <a href="#blog-tag">Hotel</a>
                            <a href="#blog-tag">Food</a>
                        </div>
                        <div class="buttons-singles">
                            <h4>Share :</h4>
                            <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
                        </div>
                    </div>
                    
                  
                    <!--//author-card-->
                    <h2 style="color:seagreen" class="mb-3 title">This is our tour guide</h2>
                    <div class="author-card mt-5">
                        <div class="row align-items-center">
                            <div class="col-sm-3 col-6">
                                <div>
                                    <img src="@Model.Guides.Image" alt="" style="object-fit:cover" class=" img-fluid">
                                </div>
                            </div>
                            
                            <div class="col-sm-9 mt-sm-0 mt-3">
                                <h3 class="mb-3 title">@Model.Guides.GuideName</h3>
                                <p>
                                    @Model.Guides.Description
                                </p>
                                <ul class="author-icons mt-4">
                                    <li>
                                        <a class="facebook" href="@Model.Guides.InstagramUrl">
                                            <span class="fa fa-facebook"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" href="@Model.Guides.TwitterUrl">
                                            <span class="fa fa-twitter"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="google" href="#url">
                                            <span class="fa fa-google-plus"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="linkedin" href="https://www.linkedin.com/in/mucize-doğan-sarıkürkcü-974660234/">
                                            <span class="fa fa-linkedin"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="github" href="https://github.com/MucizeDogan">
                                            <span class="fa fa-github"
                                                  aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--//author-card-->
                    @await Component.InvokeAsync("_CommentList",new {id=ViewBag.i})

                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")

                </div>
            </div>
        </div>
        <!--//blog-post-->
    </section>


    <!-- Template JavaScript -->
    <script src="~/Traversal-Content/Traversal-Liberty/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Traversal-Content/Traversal-Liberty/assets/js/theme-change.js"></script>
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/Traversal-Content/Traversal-Liberty/assets/js/bootstrap.min.js"></script>

</body>

</html>

